/*
To do list
1. Add hover and press animations
2. Add modal buttons
*/

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: var(--body-text);
    font-weight: 600;
    transition: all 0.2s ease;
    cursor: pointer;

    .main-text {
        font-size: var(--body-text);
        font-weight: 600;
    }

    .supporting-text {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.01em;
    }


    /* !!!!!!!!just some hover and pressed styles for now !!!!!!!!*/

    &:hover {
        filter: brightness(1.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
    }

    &:active {
        filter: brightness(0.9);
        transform: translateY(1px);
        box-shadow: none;
        transition: all 0.1s ease;
    }
}

/************************************BUTTON COLORS************************************/
.btn {

    /*special cases (card exercise tracker screen/component*/
    &--unchecked {
        background-color: var(--gray-light);
        fill: #C9CCCD;
    }

    &--checkbox-locked {
        background-color: var(--gray-super-light);
        fill: #C7C9CA;
    }

    &--set-number {
        background-color: var(--input-field-bg);
        color: var(--text-color-heading-2);
    }

    &--prev-volume {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff00;
        font: var(--type-face);
        font-size: var(--body-text);
        font-weight: 600;
        border-radius: 8px;
        letter-spacing: 0.02em;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 2px 12px;

        &--active {
            color: #C7C9CA;
            fill: #C7C9CA;
        }

        &--inactive {
            color: var(--text-color-heading-2);
            fill: #C7C9CA;
        }

    }

    /*******************************************************/

    &--blue {
        background-color: var(--blue-medium-dark);
        color: var(--white);

        &:disabled {
            background-color: var(--gray-medium-light);
        }
    }

    &--blue-soft {
        background-color: var(--blue-light);
        color: var(--blue-medium-dark);
        fill: var(--blue-dark);
    }

    &--red {
        background-color: var(--red-dark);
        color: var(--white);
    }

    &--red-soft {
        background-color: var(--red-light);
        color: var(--red-dark);
    }

    &--gray {
        background-color: var(--gray-light);
        color: var(--black);
        fill: var(--black-blue-dark);
    }

    &--transparent {
        background-color: #ffffff00;
        color: var(--blue-dark);
        fill: var(--black-blue-dark);
        width: fit-content;
        padding: 0px 1px;

        &:disabled {
            color: var(--gray-medium-light);
        }

    }

    &--green {
        background-color: var(--green-dark);
        color: var(--white);
        fill: var(--white);
    }

    /************************************BUTTON SIZES************************************/
    &__icon {
        &--small {
            padding: 0;
            width: 32px;
            height: 24px;
        }

        &--big {
            padding: 0;
            width: 48px;
            height: 35px;
        }
    }

    &--big {
        display: flex;
        flex-direction: column;
        gap: -1px;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        width: 100%;
        gap: 8px;
    }

    &--big-hug {
        padding: 8px 16px;
        width: fit-content;
        gap: 8px;
    }

    &--big-skinny {
        padding: 2px 16px;
        width: 100%;
        gap: 4px;
    }

    &--big-chunky {
        padding: 10px 16px;
        width: 100%;
        gap: 8px;
    }

    /*special cases*/
    &--view-all {
        padding: 2px 8px;
        height: 24px;
        width: fit-content;
        letter-spacing: -2%;
        gap: 6px;
    }

    &--add-template {
        padding: 2px 8px;
        height: 24px;
        width: fit-content;
        letter-spacing: -2%;
        gap: 8px;
    }
}