/*
To do list
1. Sort out variabes
  - main colors (background, text colors)
2. Rename blue -> primary
3. maybe create the absolute minimum amount of tokens needed
*/


:root {
  --type-face: 'Inter', sans-serif;

  /*SIZES*/
  --h1: 30px;
  --h2: 24px;
  --h3: var(--body-text);
  --h4: var(--body-text);
  --h5: var(--body-text);
  --body-text: 16px;
  --body-text-small: 12px;
  --body-text-x-small: 10px;
  --card-border-radius: 16px;
  --modal-border-radius: 16px;
  --button-border-radius: 8px;
  --general-padding: 16px;
  --space-between-sections: 48px;
  --margin-top-prim-screen: 105px;
  --margin-top-secon-screen: 60px;


  --text-color-heading-1: var(--black);
  --text-color-heading-2: var(--black-blue-light);
  --icon-color-heading: var(--black-blue-dark);
  --text-color-body: var(--gray-dark);
  --text-color-supporting: var(--gray-medium-dark);
  --text-color-colored: var(--blue-medium-dark);
  --input-field-text: var(--black);
  --input-field-text-placeholder: var(--gray-medium-light);
  --input-field-bg: var(--gray-light);
  --row-underline-color: var(--gray-light);

  --card-border-color: var(--gray-light);
  /*MAIN
   background color

   ****text-colors****
   text-primary-color
   secondary
   placeholder
   colored

   COLORS: blue -> primary-medium...
then when different themes, can just change primary colors + 
*/

  /* COLORS */
  --blue-dark: #2A85CC;
  --blue-medium-dark: #35A7FF;
  --blue-medium-light: #67BDFF;
  --blue-light-dark: #9fd0f6;
  --blue-light: #EBF6FF;

  --red-dark: #FF5964;
  --red-medium: #FF828A;
  --red-light: #FFEEEF;

  --green-dark: #2ECD70;
  --green-light: #EAFAF0;

  --turquoise-dark: #2EC4B6;
  --turquoise-light: #EAF9F7;
  --turquoise-super-light: #e9f9f7;


  --black: #000000;
  --black-blue-dark: #21272B;
  --black-blue-light: #293136;
  --white: #FFFFFF;

  --gray-dark: #5F6669;
  --gray-medium-dark: #94989A;
  --gray-medium-light: #C9C9C9;
  --gray-light: #E9EAEA;
  --gray-super-light: #F9FAFA;
  --gray-nav-1: #696A6B;
  --gray-nav-2: #828384;

  --purple-dark: #8826FC;
  --purple-medium: #C392FD;
  --purple-light: #D1B8EE;

  --anatomy-svg-color: 0, 255, 43;

}

h1 {
  font-size: var(--h1);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}

h4 {
  font-size: var(--h4);
  font-weight: 600;
}

h5 {
  font-size: var(--h5);
  font-weight: 400;
}

p {
  font-size: var(--body-text);
  font-weight: 400;
  color: var(--text-color-body)
}

body {
  font-family: var(--type-face);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--white);

  /* WebKit Scrollbar Styles */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox Support */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
}

.spinner-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-app {
  display: flex;
  flex-direction: column;
  gap: var(--space-between-sections);
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: var(--margin-top-prim-screen);
  margin-bottom: 120px;
  background-color: var(--body-bg);
}



/* LIBRARY SCREEN */
.testing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-header {
  padding: 0 16px;
  margin: 0;
}

.library-container-quick-start {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
  padding: 0 var(--general-padding);
}

/************************************NAV BAR************************************/

.navbar {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 83px;
  background-color: var(--black-blue-light);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 16px 8px;
  box-sizing: border-box;

  &__btn {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 42px;
    width: 76.2px;
    font-size: var(--body-text-small);
    font-weight: 600;
    transition: fill 0.3s ease;
    background-color: #00000000;


    &--inactive {
      color: var(--gray-nav-2);
      fill: var(--gray-nav-1);
    }

    &--active {
      color: var(--white);
      fill: var(--white);
    }

    &:hover {
      fill: var(--white);
    }

  }
}