/************************************CARD WORKOUT TEMPLATE************************************/

.card-workout-add-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    color: var(--text-color-colored);
    height: 144px;
    width: 173px;
    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;

    h3 {
        margin: 0;
        padding: 0
    }

    p {
        color: var(--text-color-colored);
        font-size: var(--body-text-small);
        font-weight: 600;
        margin: 0;
        padding: 0;
        letter-spacing: 0.05em;
    }
}

.card-workout-template {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 144px;
    /*width: 173px;*/
    width: 100%;
    padding: 16px;
    border: 1px var(--card-border-color) solid;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: left;

    /* !!!!!!!!just some hover and pressed styles for now !!!!!!!!*/
    &:hover {
        filter: brightness(1.1);
        transform: translateY(-1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
    }

    &:active {
        filter: brightness(0.9);
        transform: translateY(1px);
        box-shadow: none;
        transition: all 0.1s ease;
    }

    &__short-title {
        gap: 6px;
    }

    &__long-title {
        gap: 12px;
    }

    h3 {
        color: var(--text-color-heading-1);
        width: 100%;
        padding: 0;
        margin: 0;

        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-height: 1.2em;
        max-height: calc(2 * 1.2em);
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .heading {
        padding-right: 44px;
        width: 100%;
        box-sizing: border-box;
    }

    p {
        font-size: var(--body-text-small);
        margin: 0;

        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-height: 1.2em;
        max-height: calc(2 * 1.2em);
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .options-button {
        position: absolute;
        right: 16px;
        top: 14px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .container-timestamp {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--text-color-supporting);
        fill: var(--text-color-supporting);
        height: 19px;
        width: 100%;
        padding: 0 4px;
        box-sizing: border-box;

        p {
            color: var(--text-color-supporting);
        }
    }
}




/************************************CARD WORKOUT HISTORY************************************/



.card-workout-history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
    padding: 18px 16px;
    border: 1px var(--card-border-color) solid;
    border-radius: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &--default {
        height: fit-content;
        /*width: 361px;*/
        width: 100%;
    }

    h3 {
        color: var(--text-color-heading-2);
        width: 100%;
        padding: 0;
        margin: 0;
    }

    h4 {
        color: var(--text-color-heading-2);
        font-weight: 500;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .heading {
        padding-right: 44px;
        width: 100%;
        box-sizing: border-box;
    }

    p {
        font-size: var(--body-text);
        font-weight: 400;
        color: var(--text-color-body);
        margin: 0;
        box-sizing: border-box;
        height: 100%;
    }

    .options-button {
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .container-stats {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .stats {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0;

            .stat {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                width: 100%;
                padding: 0;
            }

            .duration {
                padding: 0 4px;
            }

            .volume {
                padding: 0 8px;
            }

            .PRs {
                padding: 0 8px;
            }

        }
    }

    .container-data-rows {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .heading {
            width: 100%;
        }

        .data-row {
            display: flex;
            gap: 8px;

            p {
                width: 100%;
            }

        }
    }
}


/************************************CARD EXERCISE TRACKER************************************/

.card-exercise-tracker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    /*width: 393px;*/
    width: 100%;
    height: fit-content;
    color: var(--text-color-heading-2);
    fill: var(--icon-color-heading);


    >.heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-colored);
        padding: 0 16px;
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    input {
        color: var(--text-color-heading-2);
        border: none;
        font: var(--type-face);
        font-size: var(--body-text);
        font-weight: 600;
        border-radius: 8px;
        height: 100%;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;

        &::placeholder {
            color: var(--input-field-text-placeholder);
        }

        &:focus {
            outline: none;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }

    .input-uncompleted {
        background-color: var(--input-field-bg);

        &::placeholder {
            color: var(--input-field-text-placeholder);
        }

        &:focus {
            outline: none;
        }
    }

    .completed {
        background-color: #ffffff00;
    }

    >.container-exercises {
        margin: 0;
        padding: 0;

        >.heading-row {
            display: grid;
            grid-template-columns: 32px 2fr 1fr 1fr 32px;
            gap: 8px;
            width: 100%;
            box-sizing: border-box;
            padding: 6px 16px;

            >.heading {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 20px;

            }
        }

        >h4 {
            padding: 0;
            margin: 0;
        }

        .exercise-row {
            display: grid;
            grid-template-columns: 32px 2fr 1fr 1fr 32px;
            gap: 8px;
            width: 100%;
            padding: 10px 16px;
            box-sizing: border-box;

            &--uncompleted {
                background-color: white;
            }

            &--completed {
                background-color: var(--green-light);
            }

        }

    }

    /******************************************************************************************/

    .container-btn--add-set {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }

    /*********************exercise row animation (framer motion)*********************/
    li {
        list-style-type: none;
        position: relative;

        .exercise-row-container {
            position: relative;
            z-index: 1;

            &:hover {
                cursor: pointer;
            }
        }

        .exercise-row-delete-btn {
            z-index: 0;
            position: absolute;
            height: calc(100% - 2px);
            width: 70px;
            top: 50%;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);
        }
    }
}

/**************************************************************************/

.testing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* PLACEHOLDER CLASSES FOR NOW*/
/******************************************************************************************/
.set-options {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    left: 2rem;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    z-index: 10;
    display: flex;

    &__btn {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        background-color: #dbeafe;
        border-radius: 0.25rem;
    }
}


.card-strength-score-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: var(--general-padding);
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--card-border-radius);
    border: 1px solid #d1d5db;

    h4 {
        color: var(--text-color-heading-2);
        width: 100%;
        text-align: center;
        font-weight: 600;
        letter-spacing: -0.01em;
        margin: 0;
        padding: 0;
    }

    .container-anatomy-svgs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 96px;
        width: 100%;
        height: fit-content;
    }
}

.cards-strength-score-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 316px;

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        height: 100%;
    }

    .card-stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--general-padding);
        gap: 6px;
        width: 100%;
        border-radius: var(--card-border-radius);
        box-sizing: border-box;
        border: 1px solid #d1d5db;


        &--default {
            flex: 1;

            .icon-and-stat {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                width: 100%;

                height: fit-content;
                fill: var(--blue-dark);
            }
        }

        &--streak {
            height: 100%;

            .icon-and-stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 6px;
                width: 100%;

                height: fit-content;
                fill: red;
            }
        }

        .card-text {
            text-align: center;
            font-weight: 600;
            letter-spacing: -0.01em;
            margin: 0;
            padding: 0;

            &--title {
                color: var(--text-color-heading-2);
                width: 100%;

            }

            &--value {
                color: var(--text-color-colored);
                width: fit-content;
            }
        }

    }
}

.card-strength-score-full-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 28px var(--general-padding);
    height: fit-content;
    width: calc(100% - 2 * var(--general-padding));
    box-sizing: border-box;
    border-radius: var(--card-border-radius);
    border: 1px solid #d1d5db;
    margin: 0 var(--general-padding);


    .container-anatomy-svgs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 96px;
        width: 100%;
        height: fit-content;
    }

    .container-levels {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
        height: fit-content;


        .level {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 8px;
            border-radius: 4px;
            width: 100%;
            height: fit-content;
            font-size: var(--body-text-small);
            font-weight: 500;
            background-color: aqua;
        }

        .Beginner {
            background-color: #E5FFEA;
        }

        .Novice {
            background-color: #B2FFBF;
        }

        .Intermediate {
            background-color: #66FF80;
        }

        .Advanced {
            background-color: #24fe49;
        }

        .Elite {
            background-color: #00fd2a;
        }

    }
}

.row-strength-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    box-sizing: border-box;


    &:hover {
        filter: brightness(1.1);
        transform: translateY(-1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;

        &--muscle-group {
            padding: var(--general-padding) calc(2* var(--general-padding));

            .text {
                margin: 0;
                height: fit-content;
                padding: 0;

                &--muscle-group {
                    color: var(--text-color-heading-2);
                    font-weight: 600;
                }

                &--strength-score {
                    color: var(--text-color-colored);
                    font-weight: 600;
                }
            }
        }

        &--exercise {
            padding: var(--general-padding) var(--general-padding);

            .text {
                margin: 0;
                height: fit-content;
                padding: 0;

                &--muscle-group {
                    color: var(--text-color-heading-2);
                    font-weight: 500;
                }

                &--strength-score {
                    color: var(--text-color-heading-2);
                    font-weight: 600;
                }
            }
        }



        .score-and-icon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            padding: 0 8px;
            fill: var(--text-color-heading-2);
        }
    }

    .underline {
        height: 2px;
        background-color: var(--card-border-color);
        width: calc(100% - 2 * var(--general-padding));
        margin: 0 var(--general-padding);
    }

}