/*
To do list
1. Sort out variabes
  - main colors (background, text colors)
2. Rename blue -> primary
3. maybe create the absolute minimum amount of tokens needed
*/


:root {
  --type-face: 'Inter', sans-serif;

  /*SIZES*/
  --h1: 30px;
  --h2: 24px;
  --h3: 20px;
  --h3: var(--body-text);
  --body-text: 16px;
  --body-text-small: 12px;
  --body-text-x-small: 10px;
  --card-border-radius: 16px;
  --modal-border-radius: 16px;
  --button-border-radius: 8px;
  --general-padding: 16px;
  --space-between-sections: 48px;
  --margin-top-prim-screen: 105px;
  --margin-top-secon-screen: 60px;


  --text-color-heading-1: var(--black);
  --text-color-heading-2: var(--black-blue-light);
  --text-color-body: var(--gray-dark);
  --text-color-supporting: var(--gray-medium-dark);
  --text-color-colored: var(--blue-medium-dark);
  --input-field-text: var(--black);
  --input-field-text-placeholder: var(--gray-medium-light);
  --input-field-bg: var(--gray-light);
  /*MAIN
   background color

   ----text-colors------
   text-primary-color
   secondary
   placeholder
   colored

   COLORS: blue -> primary-medium...
then when different themes, can just change primary colors + 
*/

  /* COLORS */
  --blue-dark: #2A85CC;
  --blue-medium-dark: #35A7FF;
  --blue-medium-light: #67BDFF;
  --blue-light: #EBF6FF;

  --red-dark: #FF5964;
  --red-medium: #FF828A;
  --red-light: #FFEEEF;

  --green-dark: #2ECD70;
  --green-light: #EAFAF0;

  --turquoise-dark: #2EC4B6;
  --turquoise-light: #EAF9F7;

  --black: #000000;
  --black-blue-dark: #21272B;
  --black-blue-light: #293136;
  --white: #FFFFFF;

  --gray-dark: #5F6669;
  --gray-medium-dark: #94989A;
  --gray-medium-light: #C9C9C9;
  --gray-light: #E9EAEA;
  --gray-super-light: #F9FAFA;
  --gray-nav-1: #696A6B;
  --gray-nav-2: #828384;

  --purple-dark: #8826FC;
  --purple-medium: #C392FD;
  --purple-light: #D1B8EE;



}

h1 {
  font-size: var(--h1);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}

h4 {
  font-size: var(--h4);
  font-weight: 600;
}

p {
  font-size: var(--body-text);
  font-weight: 400;
  color: var(--text-color-body)
}

body {
  font-family: var(--type-face);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #909090;
}



.container-app {
  display: flex;
  flex-direction: column;
  gap: var(--space-between-sections);
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: var(--margin-top-prim-screen);
  margin-bottom: 120px;
  background-color: var(--body-bg);
}



/* LIBRARY SCREEN */
.testing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-header {
  padding: 0 16px;
  margin: 0;
}

.library-container-quick-start {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
  padding: 0 var(--general-padding);
}



.workout-template {}