.history {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        padding: 105px 0 200px 0;
        background-color: var(--white);
        box-sizing: border-box;
        fill: var(--text-color-body)
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 43px;
        width: 100%;
        height: fit-content;
        padding: 0 var(--general-padding);
        box-sizing: border-box;

        h1 {
            width: 100%;
        }

        &__container-month {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 17px;
            width: 100%;

            >.heading {
                width: 100%;
                padding: 0;
                margin: 0;
                color: var(--text-color-body);
                font-size: var(--body-text-small);
                font-weight: 400;
            }
        }
    }
}

.templates {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        padding: 105px 0 120px 0;
        background-color: var(--white);
        box-sizing: border-box;

    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 37px;
        width: 100%;
        height: fit-content;
        padding: 0 var(--general-padding);
        box-sizing: border-box;

        h1 {
            width: 100%;
        }

        .container-quick-start {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 18px;
            width: 100%;

            h3 {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .container-folders {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 18px;
            width: 100%;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h2 {
                    margin: 0;
                    padding: 0;
                }

                &__buttons {
                    display: flex;
                    gap: 6px;
                    justify-content: flex-start;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;
                }
            }

            &__folders {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: fit-content;
                gap: 36px;

                &__group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    height: fit-content;

                    gap: 24px;
                }

                .container-templates {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;
                    width: 100%;

                    &__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        box-sizing: border-box;


                        h3 {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: fit-content;

                        }

                        .container-heading {
                            display: flex;
                            align-items: center;
                        }

                        .wrapper-options {
                            position: relative;
                            height: fit-content;
                            width: fit-content;
                        }
                    }

                    .wrapper-templates {
                        display: grid;
                        grid-template-rows: 1fr;
                        width: 100%;
                    }

                    .templates {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(173px, 1fr));
                        gap: 16px;
                        width: 100%;
                    }

                }
            }
        }


    }

}


.session {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        padding: 60px 0 0 0;
        background-color: var(--white);
        box-sizing: border-box;

    }


    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 48px;
        width: 100%;
        height: fit-content;
        padding: 0 0 67px 0;
        box-sizing: border-box;

        h1 {
            width: 100%;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 0 var(--general-padding);
            width: 100%;
            box-sizing: border-box;
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 42px;
            width: 100%;
            height: fit-content;
            padding: 0;
            box-sizing: border-box;

            .header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 9px;
                width: 100%;
                padding: 0 var(--general-padding);
                box-sizing: border-box;


                &__title-duration {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 6px;
                    width: 100%;
                    height: fit-content;

                    &__title {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 7px;
                        width: 100%;
                        height: fit-content;
                        margin: 0;
                        padding: 0;
                    }

                    .template-name {
                        all: unset;
                        font-size: var(--h2);
                        font-weight: 600;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        color: var(--text-color-heading-1);
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        letter-spacing: 0.07em;
                    }


                }

                .notes {
                    width: 100%;
                    min-height: 1em;
                    resize: none;
                    overflow: hidden;
                    background-color: transparent;
                    border: none;
                    box-sizing: border-box;
                    font-size: var(--body-text);
                    font-weight: 400;
                    color: var(--text-color-body);
                    font-family: var(--type-face);

                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border: none;
                    }

                    &::placeholder {
                        color: var(--gray-medium-light);
                    }
                }


            }

            .container-cards-and-buttons {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 33px;
                width: 100%;
                height: fit-content;

                .container-cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 21px;
                    width: 100%;
                    height: 100%;
                }

                .container-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: fit-content;
                    gap: 31px;
                    padding: 0 var(--general-padding);
                    box-sizing: border-box;

                }
            }
        }
    }
}

.session-finished {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        padding: 64px var(--general-padding) 164px var(--general-padding);
        background-color: var(--white);
        box-sizing: border-box;

    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 36px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .nav-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: fit-content;
        }

        .header {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            width: fit-content;
            height: fit-content;

            .container-message {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                width: fit-content;
                height: fit-content;

                h2 {
                    margin: 0;
                    padding: 0;
                    letter-spacing: -0.02em;
                }

                p {
                    margin: 0;
                    padding: 0;
                    letter-spacing: -0.01em;
                }
            }

        }

        .container-template-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 80%;
            box-sizing: border-box;
        }
    }



}

.card-workout-history-finished-workout-screen {
    width: 100%;
    max-width: 400px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}



.progress {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        height: fit-content;
        min-height: 100vh;
        padding: 58px 0 200px 0;
        box-sizing: border-box;
        overflow-x: auto;
        background-color: var(--white);

    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: fit-content;
            padding: var(--general-padding);
            border-radius: 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0);
            transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1)
        }

        .button-active {
            color: var(--text-color-heading-2);
        }

        .button-inactive {
            color: var(--text-color-supporting);
        }

        .button-underline {
            position: absolute;
            bottom: 0;
            height: 2px;
            background-color: var(--text-color-colored);
            width: calc(50% - 32px);
            margin-left: 16px;
            will-change: transform;
            transform: translateZ(0); // Add this to force GPU layer
            transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
        }
    }

    &__main {
        display: flex;
        flex: 1 1 0%;
        width: 100%;
        scroll-snap-type: x mandatory;
        overflow-x: auto;

        .wrapper-screen {
            width: 100%;
            box-sizing: border-box;
            scroll-snap-align: start;
            flex-shrink: 0;

            .container-progress-screen {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                padding: 0 var(--general-padding);
                width: 100%;
                height: fit-content;
                box-sizing: border-box;
            }
        }
    }
}

.strength-score-sub-screen {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        height: fit-content;
        min-height: 100vh;
        background-color: var(--white);
        padding: 58px 0 148px 0;


        .header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--general-padding);
            padding: 0 var(--general-padding);
            width: 100%;
            height: fit-content;
            width: 100%;
            box-sizing: border-box;

            h2 {
                letter-spacing: -0.03em;
                margin: 0;
                padding: 0;
                color: var(--text-color-heading-1);
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 0px;
            width: 100%;
            height: fit-content;
            box-sizing: border-box;

            &--muscle-group-screen {
                gap: 20px;
            }


            &--exercise-screen {
                gap: 36px;
            }

            .container-rows-strength-scores {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                width: 100%;
                margin: 0 var(--general-padding);

                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 0 var(--general-padding);
                    box-sizing: border-box;
                    margin-bottom: 8px;

                    h3 {
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.exercises {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    padding: 0;
    background-color: var(--white);
    height: fit-content;
    width: 100%;
    overflow: hidden;

    .container-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        height: fit-content;
        padding: var(--general-padding);
        padding-bottom: 8px;
        box-sizing: border-box;


        .search-bar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            background-color: var(--input-field-bg);
            padding: 0 0 0 8px;
            border-radius: 8px;
            width: 100%;
            box-sizing: border-box;
            fill: var(--text-color-body);

            input {
                all: unset;
                width: 100%;
                padding: 8px 0;
                color: var(--text-color-body);

                &::placeholder {
                    color: var(--input-field-text-placeholder);
                }
            }


        }
    }

    .container-exercises {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        overflow-y: auto;
        overflow-x: hidden;

        .row-muscle-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 6px;
            width: 100%;
            height: fit-content;
            padding: 16px 0 10px 0;
            cursor: pointer;

            h4 {
                margin: 0;
                padding: 0;
                color: var(--text-color-heading-2);
            }

            .text-and-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0 16px 0 24px;
                box-sizing: border-box;
                fill: var(--text-color-heading-2);


                .dropdown-arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    height: 25px;
                    padding: 7px 16px;
                    background: #00000000;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all 0.3s ease-in;
                }

                .rotated {
                    transform: rotate(-180deg);
                    fill: var(--text-color-colored);
                }

            }
        }

        .container-rows-exercises {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition: height 0.3s ease-in;

            h5 {
                flex: 1;
                margin: 0;
                padding: 0;
                color: var(--text-color-heading-2);
            }

            &--default {
                justify-content: flex-start;
                gap: 0;
                width: 100%;
                height: 0px;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            &--search {
                justify-content: flex-start;
                gap: 6px;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 16px 0 10px 0;
                box-sizing: border-box;

            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateY(8px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .animate-fadeIn {
                animation: fadeIn 0.3s ease-out forwards;
            }

            .row-exercise {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;
                padding: 6px 24px 6px 32px;
                width: 100%;
                height: fit-content;
                box-sizing: border-box;
                transition: background-color 0.2s ease;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 44px;
                    width: 44px;
                    border-radius: 4px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .exercise-initial {
                        font-size: 32px;
                    }
                }

                &:hover {
                    background-color: var(--blue-light);
                }

                &:active {
                    background-color: var(--blue-medium-light);
                }

                .highlighted {
                    background-color: var(--blue-light-dark);
                }
            }

        }
    }
}


.exercise-history {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 60px 0 120px 0;
        height: fit-content;
        min-height: 100vh;
        width: 100%;
        background-color: var(--white);
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        height: fit-content;
        width: 100%;
        padding: 0 var(--general-padding);
        box-sizing: border-box;


        .header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            width: 100%;
            height: fit-content;

            .heading-and-image {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 16px;
                width: 100%;
                height: fit-content;

                h1 {
                    flex: 1;
                    letter-spacing: -0.03em;
                    color: var(--text-color-heading-2);

                }

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    width: 80px;
                    border-radius: 4px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .exercise-initial {
                        font-size: 48px;
                    }
                }
            }
        }

        &__container-month {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 17px;
            width: 100%;

            >.heading {
                width: 100%;
                padding: 0;
                margin: 0;
                color: var(--text-color-body);
                font-size: var(--body-text-small);
                font-weight: 400;
            }
        }
    }


}